@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;

  @media (min-width: 1200px) {
    height: 100vh;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  background-color: #eabfb9;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1200px) {
    width: 112rem;
  }
  @media (min-width: 800px) and (max-width: 1200px) {
    width: 75rem;
  }
  @media (min-width: 350px) and (max-width: 800px) {
    width: 30rem;
  }
  gap: 4rem;
  padding: 6rem 0;
  border: 2px solid #222;
  outline: 2px solid #222;

  @media (min-width: 1200px) {
    outline-offset: 1.2rem;
  }
}

h1 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

input {
  font-family: inherit;
  color: inherit;
  background-color: #f0d2ce;
  padding: 1.6rem 3.2rem;
  border: none;

  @media (min-width: 1200px) {
    width: 32rem;
    font-size: 2rem;
  }
  @media (max-width: 1200px) {
    width: 28rem;
    font-size: 1.5rem;
  }
}

input:focus {
  outline: 2px solid #222;
}

.weather {
  list-style: none;

  @media (min-width: 1200px) {
    display: flex;
  }

  @media (min-width: 800px) and (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 350px) and (max-width: 800px) {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  gap: 2.4rem;
}

.day {
  background-color: #f0d2ce;
  padding: 1.6rem 0 2rem;
  width: 12.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.day span {
  font-size: 5.2rem;
}

.day.important {
  background-color: #ecc5c0;
  outline: 2px solid #222;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
}

/* Reset default button styles */
button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* Modern Button Styles */
.modern-button {
  background-color: #3498db;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.modern-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.modern-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
}
